<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/details.js"></script>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<!--Nav-->
<%- include('layouts/navbar'); -%>
<!--Hero-->
<div class="pt-24">
	<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		<!--Left Col-->
		<div class="flex flex-col w-full ">		
			<p class="leading-normal text-2xl mb-8">Make the right choice. Let's help each other!</p>			
			<div>				
				<form id="detail"  method="POST" action="" class="text-2xl mb-6">
          <div class="form-row ">
            <div class="form-group col-md-12">
              <label> Name : <%= list.userinfo.firstname + ' ' + list.userinfo.lastname %></label><label> </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label> Phone :<%= list.userinfo.phone %> </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Occupation : <%= list.occupation %> </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <a href="<%= list.userinfo.fbprofile %>">FB Profle : <%= list.userinfo.fbprofile %></a>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label> <%= list.detailedtext %></label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
				<img src="<%= list.imagepath[0] %>" %> />
				<img src="<%= list.imagepath[1] %>" %> />

				<img src="/upload/tmp-4-1600327259703" />
				
            </div>
          </div>
          <div style="float: right;" class="text-1xl mb-6">
            <button type="submit" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg" form="formdetail" name="update"
			id="btnUpdate">Edit</button>
			<!--for owner listing.only for listing status 3-unverified-->
			<button type="button" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg" form="formdetail" name="delete" id="btnDelete"
			data-toggle="modal" data-target="#modalDelete">Delete</button>
			<!--for owner listing once approved.hide this-->
			<button type="button" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg" data-toggle="modal" data-target="#modalWillHelp"  id="btnIWilHelp">I'll
			Help</button>
			<!--for donor-->
			<button type="submit" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg" form="formdetail" name="approve"
			id="btnApprove">Approve</button>
			<button type="submit" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg" form="formdetail" name="approve"
			id="btnReject">Reject</button>
			<!--for verifier-->
			<button type="button" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg" id="btnCancel">Cancel</button>
			<input type="hidden" id="userType" value="<%= userType %>">
          </div>
			</form>			
			</div>					
		</div>	
	</div>
</div>
<script>
	   var scrollpos = window.scrollY;
	var header = document.getElementById("header");
	var navcontent = document.getElementById("nav-content");
	var navLogin = document.getElementById("navLogin");
	var brandname = document.getElementById("brandname");
	var toToggle = document.querySelectorAll(".toggleColour");
	document.addEventListener('scroll', function() {
	/*Apply classes for slide in bar*/
	scrollpos = window.scrollY;
    if(scrollpos > 10){
      header.classList.add("bg-white");
	  navLogin.classList.remove("bg-white");
	  navLogin.classList.add("gradient");
	  navLogin.classList.remove("text-gray-800");
	  navLogin.classList.add("text-white");
	  //Use to switch toggleColour colours
  	  for (var i = 0; i < toToggle.length; i++) {
	     toToggle[i].classList.add("text-gray-800");
		 toToggle[i].classList.remove("text-white");
	  }
	  header.classList.add("shadow");
	  navcontent.classList.remove("bg-gray-100");
	  navcontent.classList.add("bg-white");
    }
    else {
	  header.classList.remove("bg-white");
	  navLogin.classList.remove("gradient");
	  navLogin.classList.add("bg-white");
	  navLogin.classList.remove("text-white");
	  navLogin.classList.add("text-gray-800");
	  //Use to switch toggleColour colours
  	  for (var i = 0; i < toToggle.length; i++) {
	     toToggle[i].classList.add("text-white");
		 toToggle[i].classList.remove("text-gray-800");
	  }
	  
	  header.classList.remove("shadow");
	  navcontent.classList.remove("bg-white");
	  navcontent.classList.add("bg-gray-100");	  
    }
	});

</script>
<script>   
	/*Toggle dropdown list*/
	/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
	
	var navMenuDiv = document.getElementById("nav-content");
	var navMenu = document.getElementById("nav-toggle");
	
	document.onclick = check;
	function check(e){
	  var target = (e && e.target) || (event && event.srcElement);
	  
	  //Nav Menu
	  if (!checkParent(target, navMenuDiv)) {
		// click NOT on the menu
		if (checkParent(target, navMenu)) {
		  // click on the link
		  if (navMenuDiv.classList.contains("hidden")) {
			navMenuDiv.classList.remove("hidden");
		  } else {navMenuDiv.classList.add("hidden");}
		} else {
		  // click both outside link and outside menu, hide menu
		  navMenuDiv.classList.add("hidden");
		}
	  }
	  
	}
	function checkParent(t, elm) {
	  while(t.parentNode) {
		if( t == elm ) {return true;}
		t = t.parentNode;
	  }
	  return false;
	}
</script>

</body>
</html>